
@model IEnumerable<eShop.Model.Category>
   
<div class="row carousel-holder">
    <div class="col-md-12">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="https://www.stockland.com.au/~/media/shopping-centre/common/others/2013/12/130613-shopping-1_web.ashx?imageresizing=true&mode=crop&anchor=middlecenter&width=800&height=300&as=1&w=800&hash=18A49688EB6456D88CC0641917CF96606C07679B" alt="">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="https://www.colourbox.com/preview/12056530-shopping-bags-sale.jpg" alt="">
                </div>
                <div class="carousel-item">
                    <img class="d-block img-fluid" src="http://crstyling-co-uk.miniportfolio.co.uk/wp-content/uploads/2014/07/CR-styling-shopping.jpg"  alt="">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
<div class="row">
       
</div>

